# Pandas Summary Notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sales = pd.read_csv("..\Datasets\sales_subset.csv")
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

 ## 1. Method [.agg()]:
    #is used to call function for certain column.
    #Check the next function were we create a function called (pct30) and (pct40) to simulate the usage of [.agg()] method

In [6]:
def pct30(column):
    return column.quantile(0.3)

def pct40(column):
    return column.quantile(0.4)

In [10]:
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([pct30,pct40,np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
pct30        8.766667              0.713529         7.838
pct40       11.522222              0.718284         8.021
median      16.966667              0.743381         8.099

## 2. Cumulative statistics:
            - Cumulative statistics can be also so helpful in tracking summary statistics over time.
            - You will calculate the cumulative sum and max of departement's weekly sales.
            - Cumulative sum(): will allow you to find out what are the total sum so far.
            - Cumulative max(): will allow you to highest sales so far.

In [19]:
# Sort sales_1_1 by date
sales_1_1 = sales.sort_values('date')
# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()
sales_1_1.head(5)

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,24924.50
6437,6437,19,A,13,2010-02-05,38597.52,False,-6.133333,0.780365,8.350,63522.02
1249,1249,2,A,31,2010-02-05,3840.21,False,4.550000,0.679451,8.324,67362.23
6449,6449,19,A,14,2010-02-05,17590.59,False,-6.133333,0.780365,8.350,84952.82
6461,6461,19,A,16,2010-02-05,4929.87,False,-6.133333,0.780365,8.350,89882.69

# 3. Counting

In [21]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(['store','type'])

print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(['store','department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates('date')

# Print date col of holiday_dates
print(holiday_dates['date'])

      Unnamed: 0  store type  department        date  weekly_sales  \
0              0      1    A           1  2010-02-05      24924.50
901          901      2    A           1  2010-02-05      35034.06
1798        1798      4    A           1  2010-02-05      38724.42
2699        2699      6    A           1  2010-02-05      25619.00
3593        3593     10    B           1  2010-02-05      40212.84

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0          False       5.727778              0.679451         8.106
901        False       4.550000              0.679451         8.324
1798       False       6.533333              0.686319         8.623
2699       False       4.683333              0.679451         7.259
3593       False      12.411111              0.782478         9.765
    Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0            0      1    A           1  2010-02-05      24924.50       False
12          12      1    A           2  2010-02-05      50605.27       False
24          24      1    A           3  2010-02-05      13740.12       False
36          36      1    A           4  2010-02-05      39954.04       False
48          48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106
498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

In [22]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize = True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort = True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    11
B     1
Name: type, dtype: int64
A    0.916667
B    0.083333
Name: type, dtype: float64
41    12
30    12
23    12
24    12
25    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64
41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64

# 4. Grouping

- What percent of sales occured at each store type?

In [30]:
#Calculate the total weekly sales
sales['weekly_sales'].sum()

256894718.89999998

In [27]:
sales.groupby('type')['weekly_sales'].sum()

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

- Subset the store type and calculate the percentage of sales of each type

In [31]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"]== "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"]== "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"]== "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253 0.       ]

- Do the same as previous step but using the group by function

In [33]:
sales_type = sales.groupby('type')['weekly_sales'].sum()

#Get the proportion for each type
sales_prop_by_type1 = sales_type/sum(sales['weekly_sales'])
print(sales_prop_by_type1)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

- Grouping by multiple variable
- Group by type and is_holiday; calculate the total sales

In [34]:
#Group by type and is_holiday; calculate the total sales
sales_grouped = sales.groupby(['type','is_holiday'])['weekly_sales'].sum()
print(sales_grouped)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

- Multiple grouped summaries.
- Using the [.agg()] function with the summary statistics function from numpy

In [35]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                         fuel_price_usd_per_l            \
             amin   amax      mean median                 amin      amax
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

# 5. Pivot Tables

In [36]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values = 'weekly_sales', index = 'type', columns = 'is_holiday')

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

In [37]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values = 'weekly_sales', index = ['type', 'department'], fill_value = 0))

                 weekly_sales
type department
A    1           30961.725379
     2           67600.158788
     3           17160.002955
     4           44285.399091
     5           34821.011364
...                       ...
B    94            161.445833
     95          77082.102500
     96           9528.538333
     97           5828.873333
     98            217.428333

[157 rows x 1 columns]

In [38]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values = 'weekly_sales', index = 'type', columns = 'department', fill_value = 0))

department            1              2             3             4   \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167

department            5             6             7             8   \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333

department            9             10  ...            90            91  \
type                                    ...
A           30120.449924  30930.456364  ...  85776.905909  70423.165227
B           66679.301667  48595.126667  ...  14780.210000  13199.602500

department             92            93            94             95  \
type
A           139722.204773  53413.633939  60081.155303  123933.787121
B            50859.278333   1466.274167    161.445833   77082.102500

department            96            97            98          99
type
A           21367.042857  28471.266970  12875.423182  379.123659
B            9528.538333   5828.873333    217.428333    0.000000

[2 rows x 80 columns]

In [39]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", aggfunc = [sum], fill_value = 0, margins = True))

                     sum
type                   A            B           All
department
1           4.086948e+06    528607.52  4.615555e+06
2           8.923221e+06   1355502.32  1.027872e+07
3           2.265120e+06    366967.86  2.632088e+06
4           5.845673e+06    614635.85  6.460309e+06
5           4.596373e+06    758842.50  5.355216e+06
...                  ...          ...           ...
96          2.692247e+06    114342.46  2.806590e+06
97          3.758207e+06     69946.48  3.828154e+06
98          1.699556e+06      2609.14  1.702165e+06
99          4.663221e+04         0.00  4.663221e+04
All         2.337163e+08  23178403.89  2.568947e+08

[81 rows x 3 columns]

# 6. Indexing and Slicing